@import '../../styles/variables.scss';

.urlWrap {
  border: 1px solid var(--border-color);
  border-radius: var(--borderRadius10);
  margin: 20px 0 10px;
  padding: 5px 15px;
  width: 100%;
}

.url {
  width: 100%;
  padding: 5px 10px;
  background: var(--bodyColor);

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.editor {
  display: flex;
  width: 100%;

  @media screen and (with <=$mobile) {
    flex-direction: column;
  }
}

.queryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  background: var(--light-gray);
  text-transform: uppercase;
  flex: 1;
  border-radius: var(--borderRadius10);
  padding: 13px 30px;
  cursor: pointer;
}

.btnSend {
  padding: 17px 30px;
  margin-left: 15px;
  background: var(--btnBg);
  color: var(--btnFontColor);
  transition: 0.2s;
  border-radius: var(--borderRadius10);
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    background: var(--btnBgHover);
  }
}

.varHeader {
  margin-bottom: 15px;
}

.sideEditor,
.sideVar {
  padding: 10px 10px 10px 0;
  border-radius: var(--borderRadius10);
  width: 100%;
}

.sideDispInfo {
  margin: 10px 0 10px 10px;
  border-radius: var(--borderRadius10);
  background: var(--light-gray);
  width: 100%;

  @media screen and (width <=$mobile) {
    margin: 10px 0;
  }
}
