.tabs {
  margin-top: 30px;
  &-wrapper {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
  }
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  @media (max-width: ($tablet - 1)) {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
  &__list {
    @include resetUl();
    display: grid;
    grid-auto-flow: row;
    gap: 15px;
    &--item {
      @include setFont(20px, 170%, 700);
      @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
        @include setFont(16px, 24px, 700);
      }
      @media (max-width: ($tablet - 1)) {
        @include setFont(16px, 16px, 400);
      }
      cursor: pointer;
      &:hover {
        transform: scale(1.03);
      }
      &.active {
        opacity: 0.5;
      }
    }
  }

  &__h2 {
    @include setFont(40px, 47px, 700);
    @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
      @include setFont(25px, 35px, 700);
    }
    @media (max-width: ($tablet - 1)) {
      @include setFont(18px, 24px, 700);
    }
  }
  &__iframe {
    display: grid;
    justify-self: center;
    align-self: center;

    @media (min-width: $desktop) {
      width: 960px;
    }

    @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
      width: 430px;
    }

    @media (max-width: ($tablet - 1)) {
      width: 300px;
      margin-top: 31px;
    }
  }

  &__btn-try {
    @include resetBtn();
    padding: 14px 42px;
    color: var(--white);
    background: linear-gradient(97.03deg, #d33592 -59.36%, #ee727d 77.99%);
    border-radius: 50px;
    margin-top: 20px;

    @media (max-width: ($tablet - 1)) {
      display: none;
    }
  }
}
