.authorization {
  @include container($desktop);
  @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
    @include container($tablet);
  }
  @media (max-width: ($tablet - 1)) {
    @include container($mobile);
  }
  display: grid;
  place-items: center;
  height: 79vh;
  &.dark {
    background: var(--almost-black);
    color: var(--white);
  }
  &.light {
    background: var(--white);
  }
  &--wrapper {
    &.dark {
      background: var(--almost-black);
    }
    &.light {
      background: var(--white);
    }
  }

  &__wrapper {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
    padding: 40px;
    width: 360px;
    @media (max-width: ($tablet - 1)) {
      width: 310px;
    }
    background: var(--white);
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: var(--black);
  }
  .auth-wrapper {
    &__form {
      display: grid;
      grid-auto-flow: row;
      &--input {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
      }
      &--btn {
        padding: 12px;
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        color: var(--white);
        background: var(--almost-black);
        cursor: pointer;
        border-radius: 10px;
        &:hover {
          transform: scale(1.01);
          opacity: 0.9;
        }
      }
      &--input {
        background: var(--white);
        border: 1px solid #a0a0a0;
        border-radius: 10px;
      }
    }
    .social-btn {
      display: grid;
      grid-template-columns: min-content 1fr;
      align-items: center;
      justify-content: start;
      padding-left: 20px;
      background: var(--almost-black);
    }
    &__nav-btns {
      display: grid;
      grid-auto-flow: row;
      .btns-wrapper {
        padding: 5px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        &__nav-btn {
          border: none;
          outline: none;
          background: var(--almost-black);
          color: white;
          padding: 2px 7px;
          border-radius: 10px;
          cursor: pointer;
          display: grid;
          place-items: center;
          &:hover {
            transform: scale(1.05);
            opacity: 0.7;
          }
        }
      }
    }
  }
}
