.footer {
  @include container($desktop);
  padding: 70px 180px;
  @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
    @include container($tablet);
    padding: 25px 25px;
  }
  @media (max-width: ($tablet - 1)) {
    @include container($mobile);
    padding: 10px 15px;
  }

  &.light {
    background: var(--white);
  }
  &.dark {
    background: var(--almost-black);
    color: var(--white);
  }
  &__nav,
  &__copyright {
    margin-top: 20px;
    @include gridFlowColumn();
    justify-content: space-between;
  }
  &__nav svg {
    width: 100px;
  }
  &__logo {
    @include resetLink();
    @include gridFlowColumn();
    @include setFont(18px, 140%, 400);
    color: inherit;
    &--text {
      color: inherit;
      @media (max-width: ($tablet - 1)) {
        display: none;
      }
    }
  }
  .copyright__authors {
    @include resetUl();
    @include gridFlowColumn();
    gap: 15px;
    @media (max-width: ($tablet - 1)) {
      grid-auto-flow: row;
      gap: 5px;
      place-items: center;
    }
    &.dark {
      color: var(--white);
    }
    &.light {
      color: var(--black);
    }
    &--item a {
      color: inherit;
    }
  }
  .copyright__rsschool-info {
    a {
      color: inherit;
    }
    @media (max-width: ($tablet - 1)) {
      display: grid;
      place-items: center;
    }
  }
  &-wrapper {
    &.dark {
      background: var(--almost-black);
    }
    &.light {
      background: var(--white);
    }
  }
}
