.footer {
  @include container($desktop);
  @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
    @include container($tablet);
  }
  @media (min-width: $mobile) and (max-width: ($tablet - 1)) {
    @include container($mobile);
  }
  padding: 70px 180px;
  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 20px 30px;
  }
  &.light {
    background: var(--white);
  }
  &.dark {
    background: var(--almost-black);
    color: var(--white);
  }
  &__nav,
  &__copyright {
    margin-top: 20px;
    @include gridFlowColumn();
    justify-content: space-between;
  }
  &__logo {
    @include resetLink();
    @include gridFlowColumn();
    @include setFont(18px, 140%, 400);
    color: inherit;
    &--text {
      color: inherit;
    }
  }
  .copyright__authors {
    @include resetUl();
    @include gridFlowColumn();
    gap: 15px;
    &.dark {
      color: var(--white);
    }
    &.light {
      color: var(--black);
    }
    &--item a {
      color: inherit;
    }
  }
  .copyright__rsschool-info a {
    color: inherit;
  }
  &-wrapper {
    &.dark {
      background: var(--almost-black);
    }
    &.light {
      background: var(--white);
    }
  }
}
