@import './variables.scss';

* {
  box-sizing: border-box;
}

html {
  position: relative;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.page-body {
  font-style: normal;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
