.gutter {
  // background-color: var(--gutter-color);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.gutter.gutter-horizontal,
.gutter.gutter-vertical {
  background-color: rgba(220, 220, 220, 0);
  transition: .2s;
  border-radius: 10px;

  &:hover {
    background-color: rgba(220, 220, 220, 0.5);
  }
}

.cm-theme {
  height: 100%;
}

.cm-editor {
  height: inherit;
  border-radius: var(--borderRadius10);
}

.cm-gutters {
  border-radius: var(--borderRadius10) 0 0 var(--borderRadius10);
}

.cm-theme-light,
.cm-theme-dark {
  height: 100%;
}

.cm-focused {
  outline: none !important;
  border: none !important;
}


.dark .display-info .cm-scroller,
.dark .ͼ2 .cm-gutters {
  background: var(--stickyHeader);
  border-color: var(--stickyHeader);
  border-radius: var(--borderRadius10);
}

.light .display-info .cm-scroller,
.light .ͼ2 .cm-gutters {
  background: var(--light-gray);
  border-color: var(--light-gray);
  border-radius: var(--borderRadius10);
}

.dark .display-info .cm-scroller,
.light .display-info .cm-scroller {
  padding: 10px 0;
}