.header {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  padding: 70px 180px;
  transition: width .5s ease-in-out;
  @include container($desktop);
  @media (min-width: $tablet) and (max-width: $desktop) {
    @include container($tablet);
    padding: 20px 30px;
  }
  @media (max-width: ($tablet - 1)) {
    @include container($mobile);
    padding: 10px 20px;
  }
  &.light {
    background: var(--white);
  }
  &.dark {
    background: var(--almost-black);
    color: var(--white);
  }
  &__logo {
    @include resetLink();
    @include gridFlowColumn();
    column-gap: 9px;
    color: inherit;
    &--text {
      color: inherit;
      @media (min-width: $mobile) and (max-width: ($tablet - 1)) {
        display: none;
      }
    }
  }
  button {
    @include resetBtn();
  }
  &__nav {
    margin-left: 25px;
    .nav__list {
      @include resetUl();
      @include gridFlowColumn();
      justify-content: start;
      column-gap: 15px;
      &--item a {
        @include resetLink();
        color: inherit;
      }
    }
    @include gridFlowColumn();
  }
  &__settings-login-wrapper {
    position: relative;
    @include gridFlowColumn();
    color: inherit;
  }
  &__settings-btn {
    display: grid;
    grid-auto-flow: column;
    column-gap: 7px;
    color: inherit;
    &--text {
      @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
        display: none;
      }
    }
  }
  &__login {
    @include gridFlowColumn();
    column-gap: 7px;
    color: inherit;
    width: max-content;
    &--logo-text {
      @media (min-width: $mobile) and (max-width: ($tablet - 1)) {
        display: none;
      }
    }
    &--text {
      @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
        display: none;
      }
    }
    &--text {
      @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
        display: none;
      }
    }
  }
  &__logout {
    @include gridFlowColumn();
    min-width: 80px;
    @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
      min-width: 0;
    }
    color: inherit;
    &--text {
      @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
        display: none;
      }
    }
    &--icon {
      display: none;
      @media (min-width: $mobile) and (max-width: ($desktop - 1)) {
        display: grid;
        place-content: center;
      }
    }
  }
  .login__img {
    border-radius: 50%;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__settings-panel {
    position: absolute;
    right: 0;
    top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 170px;
    min-width: 267px;
    padding: 27px 20px;
    @media (min-width: $tablet) and (max-width: $desktop) {
      min-height: 100px;
      min-width: 150px;
      padding: 10px 5px;
    }
    @media (min-width: $mobile) and (max-width: ($tablet - 1)) {
      min-height: 50px;
      min-width: 100px;
      padding: 5px;
    }
    &.light {
      background: var(--white);
    }
    &.dark {
      background: var(--lighter-black);
      color: var(--white);
    }
  }
  .settings-panel__button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
    justify-content: start;
    padding: 15px 25px;
    @media (min-width: $tablet) and (max-width: $desktop) {
      padding: 5px 7px;
    }
    @media (min-width: $mobile) and (max-width: ($tablet - 1)) {
      padding: 5px;
    }
    border-radius: 10px;
    color: inherit;
    &.active {
      background: var(--almost-black);
      color: var(--white);
    }
  }
  .settings-button {
    &:hover {
      transform: scale(1.1) rotate(270deg);
    }
  }
  &-wrapper {
    &.dark {
      background: var(--almost-black);
    }
    &.light {
      background: var(--white);
    }
  }
  &.is-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    transition: width .5s ease-in-out;
    & + .somediv {
      padding-top: 100px;
    }
  }
}
