.header {
  @include container($desktop);
  padding: 70px 180px;
  display: grid;
  grid-template-columns: min-content 1fr min-content;

  &.light {
    background: var(--white);
  }
  &.dark {
    background: var(--almost-black);
    color: var(--white);
  }
  &__logo {
    @include resetLink();
    @include gridFlowColumn();
    column-gap: 9px;
    color: inherit;
    &--text {
      color: inherit;
    }
  }
  button {
    @include resetBtn();
  }
  &__nav {
    margin-left: 25px;
    .nav__list {
      @include resetUl();
      @include gridFlowColumn();
      justify-content: start;
      column-gap: 15px;
      &--item a {
        @include resetLink();
        color: inherit;
      }
    }
    @include gridFlowColumn();
  }
  &__settings-login-wrapper {
    position: relative;
    @include gridFlowColumn();
    color: inherit;
  }
  &__settings-btn {
    display: grid;
    grid-auto-flow: column;
    column-gap: 7px;
    color: inherit;
  }
  &__login {
    @include gridFlowColumn();
    column-gap: 7px;
    color: inherit;
    width: max-content;
  }
  &__logout {
    @include gridFlowColumn();
    min-width: 80px;
    color: inherit;
  }
  .login__img {
    border-radius: 50%;
  }
  &__settings-panel {
    position: absolute;
    right: 0;
    top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 170px;
    min-width: 267px;
    padding: 27px 20px;
    &.light {
      background: var(--white);
    }
    &.dark {
      background: var(--lighter-black);
      color: var(--white);
    }
  }
  .settings-panel__button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 10px;
    justify-content: start;
    padding: 15px 25px;
    border-radius: 10px;
    color: inherit;
    &.active {
      background: var(--almost-black);
      color: var(--white);
    }
  }
  .settings-button {
    &:hover {
      transform: scale(1.1) rotate(270deg);
    }
  }
}
