.authorization {
  @include container($desktop);
  @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
    @include container($tablet);
  }
  @media (max-width: ($tablet - 1)) {
    @include container($mobile);
  }
  display: grid;
  place-items: center;
  height: 79vh;
  &.dark {
    background: var(--almost-black);
  }
  &.light {
    background: var(--white);
  }
  &--wrapper {
    &.dark {
      background: var(--almost-black);
    }
    &.light {
      background: var(--white);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #dcdcdc;
    padding: 30px;
  }
  .auth-wrapper {
    &__form {
      display: grid;
      grid-auto-flow: row;
      &--input {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
      }
      &--btn {
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border: none;
        color: white;
        background-color: black;
      }
    }
    .social-btn {
      background-color: #4285f4;
    }
    &__nav-btns {
      display: grid;
      grid-auto-flow: row;
      .btns-wrapper {
        padding: 5px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        &__nav-btn {
          border: none;
          outline: none;
          background: orange;
          color: white;
          padding: 2px 7px;
          border-radius: 10px;
          cursor: pointer;
          display: grid;
          place-items: center;
          &:hover {
            transform: scale(1.05);
            opacity: 0.7;
          }
        }
      }
    }
  }
}
