.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(28, 19, 68);
  border-radius: 10px 0 0 10px;
  width: 40px;
  position: absolute;
  right: 0px;
  top: 40px;
  padding: 10px 6px;
}

.name {
  writing-mode: vertical-lr;
  text-orientation: upright;
}
