.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.loginTextBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.loginBtn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.loginGoogle {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}
